<h1>Tag Helpers</h1>
<timer year-included="true" seconds-included="true" color="purple"/>
<br/>
<date size-in-px="40"/>
<b/>
<form/>
<b/>
<summary>This info is required to be read:<br/>
    blah blah blah blah blah blah blah blah <br/>
    blah blah blah blah blah blah blah blah 
</summary>