@model dz_DataBase.Models.Product
<h2>Add Product</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name">Name</label><br/>
        <input type="text" asp-for="Name"/>
    </p>
    <p>
        <label asp-for="Price">Price</label><br/>
        <input type="number" asp-for="Price"/>
    </p>
    <p>
        <label asp-for="Description">Description</label><br/>
        <input type="text" asp-for="Description"/>
    </p>
    <p>
        <input type="submit" value="Send"/>
    </p>
</form>