@{
    string[] cities = new string[] { "London", "Paris", "Kyiv" };
    string[] countries = new string[] { "England", "France", "Ukraine" };
}
@using MVC3;
<h3>cities</h3>
@Html.CreateList(cities);
<br/>
<h3>countries</h3>
@Html.CreateList(countries);
<br/>
<h3>Form</h3>
@Html.CreateForm();

