namespace dz.Views.Home
@using dz
<h1>
    Contacts: 
</h1>
<tr>
    <td>
        0992222133
    </td>
    <td>
        0992233333
    </td>
    <td>
        0992555133
    </td>
    <td>
        0911111133
    </td>
</tr>
@Html.CreateFooter();